* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.16),5px 5px 12px #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: end;
    font-size: 50px;
    margin-top:30px;
    margin-bottom: 20px;
}
button{
    background-color: #ecf0f3;
    padding: 20px;
    margin: 7px;
    box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius:20px;
    font-size: 20px;
    text-align: center;
}
#calculate{
    width: 125px;
    box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
